* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

/* 全体 */
.wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* ヘッダー */
.header {
  display: flex;
}

/* ロゴ */
.header__logo {
  width: 200px;
  background-color: #add8e6;
}
.header__logo img {
  width: 100%;
}

/* テキスト部分 */
.header__texts {
  width: calc(100% - 200px);
}

/* 名前 */
.header__name {
  background-color: #87ceeb;
  height: 60px;
  text-align: right;
  line-height: 60px;
}


/* ログイン日時 */
.header__login {
  background-color: #00ffff;
  height: 60px;
  text-align: right;
  line-height: 60px;
}

/* 表 */
.table {
  margin: 10px auto;
}

.table th {
  background-color: #87ceeb;
}

.table td {
  background-color: #e0ffff;
}


/* フッター */
.footer {
  background-color: #00ced1;
  height: 50px;
}